*,
html {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: #291a4d;
	font-family: "Gloria Hallelujah", cursive;
}

body {
	background-image: linear-gradient(
		to left,
		#9453d4,
		#9655d6,
		#9857d8,
		#9959db,
		#9b5bdd,
		#9d5edd,
		#a062de,
		#a265de,
		#a66adc,
		#a96fdb,
		#ac74d9,
		#af79d8
	);
}

.container {
	position: relative;
	height: 100vh;
	width: 100vw;
	background-image: linear-gradient(
		to left,
		#9453d4,
		#9655d6,
		#9857d8,
		#9959db,
		#9b5bdd,
		#9d5edd,
		#a062de,
		#a265de,
		#a66adc,
		#a96fdb,
		#ac74d9,
		#af79d8
	);
}

.greeting-div {
	display: flex;
	margin: 1.15em 0.3em 0.85em 0.3em;
	padding-left: 10px;
	padding-bottom: 0.7em;
	box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	border: #000 solid 1px;
	flex-direction: column;
	align-items: center;
}

.tip-div {
	margin: 5px 0.3em 1em 0.3em;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	padding-left: 10px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	border: #000 solid 1px;
}

#tip-p {
	font-weight: bold;
	word-wrap: break-word;
}

#tip {
	font-weight: 400;
}

.joke-div {
	margin: 5px 0.3em 1em 0.3em;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	padding-left: 10px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	border: #000 solid 1px;
}

#joke-q {
	font-weight: bold;
}

#joke {
	font-size: 0.9rem;
}

.weather-div {
	margin: 5px 0.3em 1em 0.3em;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	padding-left: 4px;
	background-color: rgba(0, 0, 0, 0.1);
	border-radius: 7px;
	border: #000 solid 1px;
}

#current-location {
	font-size: 0.85rem;
	font-weight: bold;
	margin-top: 1em;
}

#overzicht {
	display: flex;
	flex-direction: row;
}

#current-text {
	font-weight: bold;
	display: flex;
	align-items: center;
	margin-left: 1em;
	font-size: 1.2em;
}

#info {
	margin: 5px 0.3em 1em 0.3em;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	padding-left: 4px;
	border-radius: 7px;
	border: #000 solid 1px;
}

#forecast {
	margin: 5px 0.3em 1em 0.3em;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	padding-left: 4px;
	border-radius: 7px;
	border: #000 solid 1px;
}

#expec {
	font-size: 0.9rem;
	font-weight: bold;
	margin-top: 0.3em;
}

#grid {
	display: grid;
	grid-template-columns: auto auto;
	gap: 1em;
	margin: 5px 0.3em 1em 0.3em;
}

.grid-item {
	box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 12px 24px -12px rgba(0, 0, 0, 0.5);
	padding-left: 4px;
	border-radius: 7px;
	border: #000 solid 1px;
	gap: 1em;
}

.text {
	display: flex;
	flex-direction: row;
}

.cond {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.forecast-text {
	font-weight: bold;
	font-size: 0.9rem;
	margin-top: 0.3em;
	text-align: center;
	padding-right: 4px;
}

.maxmin {
	text-align: center;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.percep {
	margin: 0 0 0.8em 7px;
}
